.alert-page {
    flex-grow: 1;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: bisque;
    color: rgb(77, 13, 13);

    overflow-y: auto;
}

.alert-container {
    width: 70%;
    flex-direction: column;

    height: 80%;
    min-height: 300px;

    margin: 40px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: burlywood;

    border: 2px solid brown;
    border-radius: 10px;
}

.alert-explanation-text {
    font-size: 20px;
    margin: 5px;
}

.loading-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 100px;
}

.after-user-registration-element {
    background-color: rgba(0, 75, 0, 0.7);
    color: white;

    border: 2px solid black;
}

.after-user-registration-send-code-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 100%;
    
    margin: 10px;
}

.after-user-registration-send-code-button {
    background-color: rgb(0, 75, 30);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 200px;

    border-radius: 10px;
}

.after-user-registration-send-code-button:hover {
    background-color: rgb(0, 40, 20);
    cursor: pointer;
}