header {
    flex-grow: 0;
}

.navbar {
    background-image: linear-gradient(rgb(52, 45, 146), rgb(59, 56, 207));
    flex-direction: row !important;
}

.navbar-brand {
    background: url('../../images/octopus_logo.svg') no-repeat;
    height: 3em;
    width: 3em;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(107, 70, 181) !important;
}

.navbar-toggler {
    border: 2px solid rgb(60, 46, 116) !important;
}

.homeItem {
    margin-left: 3px;
}

.toggle-button {
    visibility: hidden;
}

.bi.bi-list, .bi.bi-caret-down-fill {
    font-size: 2.5em;
    color: white
}

.bi.bi-list:hover, .bi.bi-caret-down-fill:hover {
    color: rgb(60, 46, 116)
}

@media (max-width: 576px) {
    .toggle-button {
        visibility: visible;
    }

    .navbar-items-visible {
        display: flex;
    }

    .navbar-items-hidden {
        display: none;
    }
}