.profile-page {
    background-color: bisque;

    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: flex-start;

    flex-grow: 1;

    overflow-y: auto;
    overflow-x: hidden;
}

.profile-actions-area {
    background-color: rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 95%;

    border-radius: 5px;

    margin: 5px 20px 20px 20px;
}

.profile-actions-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    flex-grow: 1;

    width: 100%;
}

.profile-subscriptions-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 50px;

    width: 100%;

    border-radius: 5px;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;

    width: 100%;  
}

.profile-button:hover {
    background-color: rgba(35, 35, 35, 0.2);
    cursor: pointer;
}

.modify-account-button, .follow-button, .message-button {
    border-bottom: 1px solid black;
}

.modify-account-button, .follow-button {
    border-radius: 5px 5px 0px 0px;
}

.delete-account-button, .block-account-button {
    border-radius: 0px;
}

.delete-admin-account-button {
    border-radius: 0px 0px 5px 5px;
}

.delete-admin-account-button-for-root, .modify-root-account-button {
    border-radius: 5px
}

.delete-account-button-color:hover {
    background-color: rgb(90, 24, 24);
    color: white;
    cursor: pointer;
}

.subscribers-button {
    border-left: 1px solid black;
    border-radius: 0px 0px 5px 0px;
}

.subscribtions-button {
    border-radius: 0px 0px 0px 5px;
}

.hide-button {
    display: none;
}

@media (max-width: 768px) {
    .profile-subscriptions-area {
        flex-direction: column;

        height: 100px;
    }

    .subscribtions-button, .subscribers-button {
        flex-grow: 1;
    
        width: 100%;
    
        border-radius: 0px 5px 5px 0px;
    }

    .subscribtions-button {
        border-radius: 0px 0px 0px 0px;
        border-bottom: 1px solid black;
    }

    .subscribers-button {
        border-radius: 0px 0px 5px 5px;
    }
    
}