.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 50px;
    flex-grow: 1;
    background-color: bisque;
    color: rgb(78, 78, 78);
    text-align: center
}