.formItem {
    display: flex;
    flex-direction: column;

    margin: 0px 10px 10px;
    flex-grow: 1;
}

.formItem > input {
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    
    border: 1px;
    border-radius: 10px;
}

.not-valid-input {
    border: 2px solid rgb(85, 0, 0);
}

.display-item-error-validation-message {
    margin-top: 5px;
    padding: 10px;

    border-radius: 10px;
    
    background: pink;
    color: rgb(85, 0, 0);
}

.hide-item-error-validation-message {
    display: none;
}

.item-error-message {
    margin-left: 5px;
}

@media (max-width: 300px) {
    .formItem > input {
        width: 90%;
    }
}
