.view-chats-actions-area {
    background-color: rgb(110, 110, 110);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 95%;

    border-radius: 5px;

    margin: 20px;
}

.view-chats-actions-panel {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 200px;
    margin: 0px 20px 0px 20px;
}

.create-chat-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60%;
    width: 100%;

    border: 2px solid black;
    border-radius: 5px;
}

.create-chat-button:hover {
    background-color: rgba(9, 9, 9, 0.8);
    cursor: pointer;
    color: white;
}

@media (max-width: 576px) {
    .view-chats-actions-area {
        justify-content: center;
    }  
}