.chat-filtered-user-item-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 150px;
    width: 100%;
    
    margin: 10px 0px 10px 0px;
}

.chat-filtered-user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    height: 100%;
    
    margin: 10px;

    border: 2px solid black;
    border-radius: 10px;
}

.chat-filtered-user-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-filtered-user-item-info:hover {
    cursor: pointer;
}

.chat-filtered-user-item-info-uniqueName {
    max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chat-filtered-user-item-add-user-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    
    margin-top: 10px;
    padding: 10px 0px 10px 0px;

    border-top: 1px solid black;
    border-radius: 0px 0px 5px 5px;
}

.chat-filtered-user-item-add-user-button:hover {
    background-color: rgba(9, 9, 9, 0.8);
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .chat-filtered-user-item-info-uniqueName {
        max-width: 270px;
    }
}

@media (max-width: 576px) {
    .chat-filtered-user-item-info-uniqueName {
        max-width: 150px;
    }
}