.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 85%;

    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;

    font-size: large;
}

.filtered-user-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    width: 100%;

    margin: 10px 0px 10px 0px;
}